h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgba(248, 246, 242, 0.993);
}

.s1{
    background: url('../images/page1.jpeg');
    background-size: cover;
}

.s2{
    background: url('../images/page2.jpeg');
    background-size: cover;
}

.s3{
    background: url('../images/page3.jpeg');
    background-size: cover;
}



.s4{
    background: url('../images/page4.jpeg');
    background-size: cover;
}

span{
    background: rgba(248, 246, 242, 0.993) !important ;
}